.Edit-addCard, .Edit-listCard {
  display: flex;
  flex-wrap: wrap;
}

.Edit-addCard h2, .Edit-listCard h2 {
  text-align: center;
}

.Edit-addCard-Form {
  background-color: lightgray;
  flex-grow: 1;
  padding: 10px;
}

.Edit-addCard-Card {
  align-items: center;
  background-color: rgb(10, 70, 70);
  color: white;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 0;
  padding: 10px;
  width: 280px;
}

.Edit-listCard {
  min-height: 100vh;
}

.Edit-listCard-Filter {
  background-color: rgb(230, 230, 230);
  flex-grow: 1;
  padding: 10px;
  width: 300px;
}

.Edit-listCard-Filter-sticky {
  position: sticky;
  top: 10px;
}

.Edit-listCard-CardList {
  background-color: rgb(10, 70, 70, 0.3);
  flex-grow: 10;
  padding: 10px 0;
  width: 300px;
}
